@font-face {
    font-family: SuperMario256;
    src: url(font/SuperMario256.ttf);
}

@keyframes slide {
    from {
     transform: translateX(-500px);
     filter: blur(1px);
    }

    to {
     transform: translateX(0);
    }
}

h1{
    animation: slide;
    animation-duration: 3s;
    text-align: center;
    font-family: SuperMario256;
    -webkit-text-stroke: 1.5px white;
}

body{
    background-color: bisque;
}

img{
    width: 500px;
    height: 200px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    animation: zoom;
    animation-duration: 3s;
    transition: 2s all ease-in-out;
}

@keyframes zoom {
    0%{

    }
    50%{
     scale: 0.8;
    }
    100%{
     scale: 1;
    }
}

.image p{
    padding-top: 10px;
    margin: auto;
    text-align: center;
    animation: typing 3s steps(20) forwards, blink 0.7s step-end infinite;
    animation-delay: 3s;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    font-size: 20px;
}

@keyframes typing {
    from{width: 0;}
    to{width: 100ch;}
}

img:hover{
   border-radius: 50%;
   transition: 2s all ease-in-out;
}



